textarea {
    min-height: 400px;
}

.read-mail {
  background-color: lightgray;
}

.read-mail:hover {
  background-color: gainsboro;
}

.unread-mail {
  background-color: white;
  font-weight: bold;
}
