{% extends "mail/layout.html" %}
{% load static %}

{% block body %}
    <h2>{{ request.user.email }}</h2>

    <button class="btn btn-sm btn-outline-primary" id="inbox">Inbox</button>
    <button class="btn btn-sm btn-outline-primary" id="compose">Compose</button>
    <button class="btn btn-sm btn-outline-primary" id="sent">Sent</button>
    <button class="btn btn-sm btn-outline-primary" id="archived">Archived</button>
    <a class="btn btn-sm btn-outline-primary" href="{% url 'logout' %}">Log Out</a>
    <hr>

    <div id="emails-view">
    </div>

    <div id="email-view">
      <div class="row">
        <div class="col">
          <div id="email-options" class="btn-group" role="group" aria-label="Email options">
          </div>
        </div>
      </div>
      <form id="email-form" class="m-2">
          <div class="form-group row">
            <label for="email-sender" class="col-sm-2 col-form-label">From: </label>
            <div class="col-sm-10">
              <input disabled id="email-sender" class="form-control">
            </div>
          </div>
          <div class="form-group row">
            <label for="email-recipients" class="col-sm-2 col-form-label">To: </label>
            <div class="col-sm-10">
              <input disabled id="email-recipients" class="form-control">
            </div>
          </div>
          <div class="form-group row">
            <label for="email-subject" class="col-sm-2 col-form-label">Subject: </label>
            <div class="col-sm-10">
              <input disabled id="email-subject" class="form-control">
            </div>
          </div>
          <div class="form-group row">
            <label for="email-timestamp" class="col-sm-2 col-form-label">Timestamp: </label>
            <div class="col-sm-10">
              <input disabled id="email-timestamp" class="form-control">
            </div>
          </div>
          <textarea disabled id="email-body" class="form-control"></textarea>
      </form>
    </div>

    <div id="compose-view">
        <h3>New Email</h3>
        <form id="compose-form">
            <div class="form-group">
                From: <input disabled class="form-control" value="{{ request.user.email }}">
            </div>
            <div class="form-group">
                To: <input id="compose-recipients" class="form-control">
            </div>
            <div class="form-group">
                <input class="form-control" id="compose-subject" placeholder="Subject">
            </div>
            <textarea class="form-control" id="compose-body" placeholder="Body"></textarea>
            <input type="submit" class="btn btn-primary"/>
        </form>
    </div>
{% endblock %}

{% block script %}
    <script src="{% static 'mail/inbox.js' %}"></script>
{% endblock %}
